.display-none {
    display: none;
}

.txt-entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 90%;

}

.txt-form {
    margin-top: 3rem;
    font-size: 20px;
    opacity: 1;
    color: #7c7272;
}

.alinhar-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .4rem;

    width: 80%;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

    animation: fadeIntext 3s both;
}

.btnn {
    background: #7c7272;
    color: #fff;
    margin-bottom: 10rem;
    margin-top: .2rem;
}

.txt-font-input {
    background: transparent;
    color: #7c7272;
    border: 1px solid #7c7272;
}

.txt-font-input::placeholder {
    color: #7c7272;
}