.section-link {

    margin-top: 6rem;
    margin-bottom: 7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.div-link {
    
    width: 80%;
    padding: 1rem 1rem;
    background: #f5ccae;
    color: #887261;
    border-radius: 0.9375rem;


    margin: -.5rem 0 1.2rem 0;
}

.a-link {
    opacity: .8;

}