img {
z-index: 0;
margin-top: -1rem;
border-end-end-radius: 10rem;
border-end-start-radius: 10rem;
border-start-end-radius: 13rem;


}

.nav-link {
    z-index: 1;
    color: #fff;
    opacity: .6;
}

h3 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: -7rem;
    opacity: .6;
    z-index: 1;
}

.navegacao {
    gap: 30px;
    margin-top: .5rem;
    margin-bottom: -2rem;
    font-size: 18px;

}